{% extends 'base.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="{{ asset('assets/css/styleAdminDelete.css') }}">{% endblock %}

{% block title %}Bienvenue dans votre zone administrateur{% endblock %}

{% block content %}

    <div class="container">
        <p class="adminDelete">{{ 'Ce pays a bien été supprimé' }}</p>
    </div>
    <a href="{{ path('payslist') }}">Retour</a>
{% endblock %}
