.backgroundImage{
    height: 500px;
    width: 100%;
    margin: auto auto;
}

.adminTitle{
    color: #505050;
    text-align: center;
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 40px;
}

.adminSubTitle, .adminList{
    margin-left: 50px;
    color: #505050;

}

a{
    color: #505050;
    text-decoration: none;
}

.adminLink{
    margin-top: 20px;
}