body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* header*/
header{
    height: 180px;
    width: 100%;
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-bottom: 5px;
}

.topHeader{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logoTop{
    height: 170px;
    position: absolute;
    top: 0px;
    left: 10px;
}

.barreRecherche{
    height: 15px;
    width: 60%;
}

.button{
    width: 35%;
}

/*navbar*/
nav{
    display: flex;
    height: 40px;
    justify-content: space-between;
    padding-left: 70px;

}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;

}

.sticky{
    position: fixed;
    top: 0;
    left: -30px;
    width: 100%;
    height: 30px;
    background-color: rgb(80, 80, 80);
    margin:0;
    align-items: center;
    padding-bottom: 4px;
}


nav li ul{
    position: absolute;
    z-index:3;
    top: 100%;
    left: 61.5%;
    display: none;
    transition: all linear 0.2s;
    padding-inline-start: 5px;
    width:170px;
    background-color: rgb(80, 80, 80);
}

.paysList{
    margin-top: 5px;
    margin-left: 5px;
}

.sticky li ul{
    position: absolute;
    z-index:3;
    top: 100%;
    left: 60%;
    display: none;
    transition: all linear 0.2s;
    padding-inline-start: 5px;
    width:170px;
    background-color: rgb(80, 80, 80);
}

header a, h1, h3, ul{
    text-decoration: none;
    color: #FFFFFF;
    list-style: none;
    list-style-type: none;
}

header h1{
    position: absolute;
    top: 0;
    left:50%;
    transform: translateX(-50%);
    font-size: 56px;
}

.rightHeader > h3, a{
    font-size: 20px;
    font-weight: normal;
}

.rightHeader{
    position: absolute;
    top:60px;
    right: 20px;

}

/*navbar*/
/* header*/

/* main*/
.backgroundImage{
    background-image: url("../img/planisphereWeb.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* main*/

/* footer*/
footer{
    height: 80px;
    background-color: rgb(80, 80, 80);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

footer a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
}
/* footer*/

/*dropdownnavbar*/

/*dropdownnavbar*/