{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/styleContact.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="contactTitle">Contact</h1>
        <p class="contactContenu">Pour nous contacter ou pour toutes questions merci de nous écrire à l'adresse
            suivante:</p>
        <p class="contactMail">mail@mail.com</p>
    </div>

{% endblock %}